In [1]:
import pandas as pd

In [2]:
veriler=[10,20,30,40]
s1=pd.Series(veriler)

In [3]:
s1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s2=pd.Series(veriler,index=['A','B','C','D'])

In [5]:
s2

A    10
B    20
C    30
D    40
dtype: int64

In [6]:
data={'Öğrenci':['Ali','Ayşe','Mehmet'],'Not':[85,90,78]}
df=pd.DataFrame(data)

In [7]:
df

  Öğrenci  Not
0     Ali   85
1    Ayşe   90
2  Mehmet   78

In [9]:
df.shape

(3, 2)

In [10]:
df.columns

Index(['Öğrenci', 'Not'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.dtypes

Öğrenci    object
Not         int64
dtype: object

In [14]:
data = {
    'Ad': ['Ali', 'Ayşe', 'Mehmet'],
    'Yaş': [23, 25, 22],
    'Şehir': ['İstanbul', 'Ankara', 'İzmir']
}

df = pd.DataFrame(data)
df.to_csv("veriler.csv", index=False)

In [15]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ibrahim\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\ibrahim\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
df.to_excel("veriler.xlsx", index=False)

# Excel'den oku
df_excel = pd.read_excel("veriler.xlsx")
print(df_excel)

       Ad  Yaş     Şehir
0     Ali   23  İstanbul
1    Ayşe   25    Ankara
2  Mehmet   22     İzmir