# Data Imputation - Bos verileri doldurma

<img src=imputation.png>

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv('ExampleData.csv')

In [8]:
df

    Height   YOE  Salary
0    175.0   3.0     6.0
1    168.0   4.0     9.0
2    160.0  10.0    18.0
3      NaN  15.0    25.0
4    161.0   NaN    50.0
5    162.0   5.0    10.0
6    180.0   6.0    11.0
7      NaN   7.0     NaN
8    172.0   8.0    12.0
9    170.0   9.0    14.0
10   175.0   3.0     6.0
11   168.0   4.0     9.0
12   160.0  10.0    18.0
13     NaN  15.0    25.0
14   161.0   NaN    50.0
15   162.0   5.0    10.0
16   180.0   6.0    11.0
17     NaN   7.0     NaN
18   172.0   8.0    12.0
19   170.0   9.0    14.0
20   161.0   NaN    50.0
21   162.0   5.0    10.0
22   180.0   6.0    11.0
23     NaN   7.0     NaN
24   175.0   3.0     6.0

In [10]:
# linear REgression

In [12]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [14]:
lr=LinearRegression()
imp=IterativeImputer(estimator=lr)
imputed_data=imp.fit_transform(df)

In [ ]:
pd.DataFrame(imputed_data)

In [20]:
from sklearn.impute import KNNImputer

In [22]:
knn=KNNImputer()

In [24]:
imputed_data=knn.fit_transform(df)

In [ ]:
pd.DataFrame(imputed_data)

In [32]:
from sklearn.impute import SimpleImputer

In [34]:
imp=SimpleImputer(strategy='mean') #  median, mode

In [36]:
imputed_data3=imp.fit_transform(df)

In [ ]:
pd.DataFrame(imputed_data3)

In [42]:
#pip install miceforest

In [56]:
import miceforest as mf

In [58]:
imp=mf.ImputationKernel(df)

In [60]:
imp.complete_data

<bound method ImputedData.complete_data of
              Class: ImputationKernel
            Datasets: 1
          Iterations: 0
        Data Samples: 25
        Data Columns: 3
   Imputed Variables: 3
   Modeled Variables: 3
All Iterations Saved: True
        >

In [ ]:
df.ffill(axis=1)

In [ ]:
df.bfill(axis=1)